* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #eee;
}

img {
  filter: invert(100%) sepia(0%) saturate(4331%) hue-rotate(299deg) brightness(115%) contrast(87%);
  user-select: none;
}

td {
  text-align:center;
}

html {
  height: 100dvh;
  background: #161100;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}

#app {
  height: 100%;
}
